:root {
  --ff-regular: "Source Sans Pro", serif;
  
  --fs-base: 12px;
  --fs-small: 10px;
  --fs-smaller: 8px;

  --c-white: #fff;
  --c-black: #000;

  --c-dark-gray: #a6a4a4;
  --c-darken-gray: #2f2e2e;
  --c-light-gray:#f4f1f1;

  --c-pink: #ff3C6a;
  --c-purple: #ceb2fd;

  --opacity: .4;
  --radius: 4px;
  --transition: .35s;
}