@use "../base/mixin" as *;

.section.-analysis {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .row:last-of-type {
    align-items: flex-start;
    display: flex;

    @include media("xxs") { flex-direction: column; }
  }

  .col {
    padding: 16px 40px;

    @include media("xxs") { padding: 16px; }
  }

  .col.-left {
    width: 239px;

    @include media("xxs") { width: 100%; }
  }

  .col.-right {
    border-left: 1px solid var(--c-black);
    width: calc(100% - 239px);

    @include media("xxs") {
      border-left: none;
      border-top: 1px solid var(--c-black);
      width: 100%;
    }
  }

  .list-tab {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .list-tab .item {
    border-bottom: 1px solid transparent;
    cursor: pointer;
    padding-bottom: 4px;
    transition: border-color var(--transition), color var(--transition);
  }

  .list-tab .item.-active,
  .list-tab .item:hover {
    border-color: var(--c-purple);
    color: var(--c-black);
    font-weight: 600;
  }

  .tab-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .containers {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(2, 1fr);

    @include media("xxs") { grid-template-columns: repeat(1, 1fr); }
  }

  .label-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .list-contact {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .list-contact .item {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}